In [1]:
#1 Write a Python program to create a tuple. 

t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [3]:
#2 Write a Python program to create a tuple with different data types.  

t1 = ("HI",1234,756.6667,"!@#$%^")
print(t1)

('HI', 1234, 756.6667, '!@#$%^')

In [4]:
#3 Write a Python program to create a tuple with numbers and print one item.  

t2 = (1,2,3,4,5,6,7,8,9)
print(t2[6])

7

In [5]:
#4 Write a Python program to unpack a tuple in several variables. 

t3 = (1,2,"HI","Three")
n1,n2,n3,n4 = t3
print(n1,n2,n3,n4)

1 2 HI Three

In [10]:
#5 Write a Python program to add an item in a tuple.  

t4 = (1,2,3,4,5)
t4 = t4 + (6,)
print(t4)

(1, 2, 3, 4, 5, 6)

In [18]:
#6 Write a Python program to convert a tuple to a string.

t5 = ("C","H","I","T","K","A","R","A")
x = "".join(t5)
print(x)

CHITKARA

In [19]:
#7 Write a Python program to get the 4th element and 4th element from last of a tuple.

t6 = (1,2,3,4,5,6,7,8,9,0,11,12,13,14,15,16,17,18,19,20)
print(t6[3],t6[-4])

4 17

In [20]:
#8 Write a Python program to create the colon of a tuple. 

from copy import deepcopy
#create a tuple
tuplex = ("HELLO", 5, [], True) 
print(tuplex)
#make a copy of a tuple using deepcopy() function
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append(50)
print(tuplex_colon)
print(tuplex)

('HELLO', 5, [], True)
('HELLO', 5, [50], True)
('HELLO', 5, [], True)

In [27]:
#9 Write a Python program to find the repeated items of a tuple. 

t7 = (1,1,2,2,3,4,5,6,7,7,8,1,1,1)
for i in range(len(t7)):
    for j in range(i+1,len(t7)):
        if t7[i] == t7[j]:
            print(t7[i],end = " ")
            break

1 1 2 7 1 1

In [29]:
#10 Write a Python program to check whether an element exists within a tuple.

t8 = (111,112,113,114,115,116,117,118,119,120)
x = int(input("Input element to be found : "))
if x in t8:
    print("Yes")

Input element to be found : 112
Yes

In [3]:
#11 Write a Python program to convert a list to a tuple. 

t9 = [1001,1002,1003,1004,1005,1006,1007]
print(tuple(t9))

(1001, 1002, 1003, 1004, 1005, 1006, 1007)

In [4]:
#12 Write a Python program to remove an item from a tuple. 

t10 = (1111,1112,1113,1114,1115,1116,1117,1118,1119,1120)
n = int(input("Enter index to be removed : "))
print(t10[:n] + t10[n+1:])

Enter index to be removed : 4
(1111, 1112, 1113, 1114, 1116, 1117, 1118, 1119, 1120)

In [17]:
#13 Write a Python program to slice a tuple.  

t11 = ("a1","b1","c1","d1","e1","f1","g1","h1","i1",11111,11112,11113,11114,11115,11116,11117,11118,11119,11120)
print(t11[:8])
print(t11[3:10])
print(t11[-1:-8:-1])
print(t11[-9])
print(t11[4:])

('a1', 'b1', 'c1', 'd1', 'e1', 'f1', 'g1', 'h1')
('d1', 'e1', 'f1', 'g1', 'h1', 'i1', 11111)
(11120, 11119, 11118, 11117, 11116, 11115, 11114)
11112
('e1', 'f1', 'g1', 'h1', 'i1', 11111, 11112, 11113, 11114, 11115, 11116, 11117, 11118, 11119, 11120)

In [22]:
#14 Write a Python program to find the index of an item of a tuple. 

t12 = (11111,11112,11113,11114,11115,11116,11117,11118,11119,11120)
m = input("Enter element to be found : ")
# for i in (t12):
#     if i == m:
#         print("Yes")
for i in range(len(t12)):
    if t12[i] == int(m):
        print("Index : ",i)

Enter element to be found : 11113
Index :  2

In [23]:
#15 Write a Python program to find the length of a tuple.

t13 = (10,20,30,40,50,60,70,80,90,100,120,130,140,150,160,170,180,190,200)
count = 0
for i in t13:
    count += 1
print("LEngth of tuple : ",count)

LEngth of tuple :  19

In [29]:
#16 Write a Python program to convert a tuple to a dictionary.  

t14 = ((1010,1011),(1012,1013),(1014,1015),(1016,1017),(1018,1019),(1020,1000))
print(dict((x,y) for y,x in t14))

{1011: 1010, 1013: 1012, 1015: 1014, 1017: 1016, 1019: 1018, 1000: 1020}

In [34]:
#17 Write a Python program to unzip a list of tuples into individual lists. 

t15 = [(1,2), (3,4), (5,6), (7,8), (9,10)]
print(list(zip(*t15)))

[(1, 3, 5, 7, 9), (2, 4, 6, 8, 10)]

In [30]:
#18 Write a Python program to reverse a tuple.  

t16 = (90,91,92,93,94,95,96,97,98,99,9)
print(t16[::-1])

(9, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90)

In [35]:
#19 Write a Python program to convert a list of tuples into a dictionary.

t17 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in t17:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [33]:
#20 Write a Python program to print a tuple with string formatting.  
# Sample tuple : (100, 200, 300)
# Output : This is a tuple (100, 200, 300)

t18 = (190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200)
print('This is a tuple {0}'.format(t18))

This is a tuple (190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200)