In [ ]:
# copy()
# difference()
# difference_update()
# isdisjoint()
# issubset()
# issuperset()
# remove()
# symmetric_differnce()

In [3]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months=set({"Jan","Feb","Mar"})
Dates=set({21,22,17})
print(Days)
print(Months)
print(Dates)
b = Days.copy()
print(b)

{'Thu', 'Mon', 'Sun', 'Sat', 'Wed', 'Fri', 'Tue'}
{'Mar', 'Jan', 'Feb'}
{17, 21, 22}
{'Thu', 'Wed', 'Fri', 'Mon', 'Sun', 'Tue', 'Sat'}

In [6]:
#1 Write a Python program to create a set. 

s1 = set([1,2,3,4,5])
print(s1)

{1, 2, 3, 4, 5}

In [19]:
#2 Write a Python program to iteration over sets.

s2 = set([11,22,33,44,55,66,77,88])
for i in s2:
    print(i,end=" ")
print()
s21 = set("Chitkara")
for i in s21:
    print(i,end=" ")

33 66 11 44 77 22 55 88
i k C r h t a

In [10]:
#3 Write a Python program to add member(s) in a set. 

s3 = set([111,222,333,444,555,666,777,888,999])
sum = 0
for i in s3:
    sum += i
print(sum)

4995

In [15]:
#4 Write a Python program to remove item(s) from a given set

s4 = set([10,20,30,40,50,60,70,80,90])
s4.remove(10)
print(s4)

{70, 40, 80, 50, 20, 90, 60, 30}

In [3]:
#5 Write a Python program to remove an item from a set if it is present in the set. 

s4 = set([10,20,30,40,50,60,70,80,90])
x = int(input())
if x in s4:
    s4.remove(x)
    print(s4)
else:
    print("Element not in set")

Element not in set

In [5]:
#6 Write a Python program to create an intersection of sets.

s5 = set([110,220,330,440,550,660,770,880,990])
s6 = set([440,550,660,770,880])
print(s5&s6)

{770, 550, 880, 660, 440}

In [7]:
#7 Write a Python program to create a union of sets. 

s7 = set([101,202,303,404,505])
s8 = set([606,707,808,909])
print(s7^s8)

{707, 101, 808, 202, 909, 303, 404, 505, 606}

In [10]:
#8 Write a Python program to create set difference. 

s9 = set([1010,1020,1030,1040,1050])
s10 = set([1060,1070,1080,1090])
print(s9.difference(s10))
print(s10.difference(s9))

{1030, 1040, 1010, 1050, 1020}
{1080, 1090, 1060, 1070}

In [12]:
#9 Write a Python program to create a symmetric difference.

s11 = set([500,501,502,503,504,505])
s12 = set([503,504,505,506,507,508])
print(s11.symmetric_difference(s12))

{500, 501, 502, 506, 507, 508}